---
const { educations } = Astro.props;
---

<div class="relative flex gap-2">
  <div class="flex flex-col items-center">
    <div
      class="flex h-4.5 w-4.5 rounded-full border border-slate-500/50 bg-slate-200 z-10"
    >
    </div>
  </div>
  {
    educations.map((item: any) => (
      <div class="pb-8">
        <div class="flex flex-col">
          <p class="font-semibold text-lg">{item.jurusan}</p>
          <p class="font-semibold">{item.kampus}</p>
          <p class="text-sm font-medium">{item.periode}</p>
          <p class="text-sm font-medium">{item.kota}</p>
        </div>
      </div>
    ))
  }
</div>
